# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# Build
DerivedData/
build/
*.app/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Build/

# Accio
Dependencies/
.accio/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Archives
*.xcarchive

# User data
*.moved-aside
*.swp
*.swo
*.lock
*.xcuserstate
.idea/
*.orig

# Localizable & Asset junk
*.xcstrings~*
*.xcassets/**/*.imageset/Thumbs.db

# Xcode automatic backup
*.autosave

# Logs
*.log

# Icon duplicates or backups
*.png~*

# DS_Store
.DS_Store

# SwiftLint
.swiftlint.yml
.swiftlint.cache
